sudo: required
language: c
before_install:
- sudo apt-get purge oracle* openjdk-6* -y
- sudo apt-get install git-core gnupg flex bison gperf libsdl1.2-dev libesd0-dev libwxgtk2.8-dev squashfs-tools build-essential lzop zip curl libncurses5-dev zlib1g-dev pngcrush schedtool libxml2 libxml2-utils xsltproc g++-multilib lib32z1-dev lib32ncurses5-dev lib32readline-gplv2-dev gcc-multilib openjdk-7-jdk -y
- sudo dd if=/dev/zero of=/swapfile bs=1024 count=2048k
- sudo mkswap /swapfile
- sudo swapon /swapfile
before_script:
- mkdir ~/bin
- PATH=~/bin:$PATH
- curl http://commondatastorage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
- chmod a+x ~/bin/repo
- git config --global user.name "Travis-CI" &> /dev/null
- git config --global user.email "travis@travis-ci.org" &> /dev/null
- repo init -u https://github.com/CyanogenMod/android.git -b cm-11.0 -g all,-notdefault,-darwin <<< y
- rm -rf .repo/local_manifests/
- travis_wait 60 repo sync -j1 --quiet
- curl --create-dirs -L -o .repo/local_manifests/msm7x27a_manifest.xml -O -L https://raw.github.com/TeamHackLG/local_manifest/cm-11.0/msm7x27a_manifest.xml
- curl --create-dirs -L -o .repo/local_manifests/gen2_manifest.xml -O -L https://raw.github.com/TeamHackLG/local_manifest/cm-11.0/gen2_manifest.xml
- travis_wait 60 repo sync -j1 --quiet
- rm -rf .repo
- source build/envsetup.sh
script:
- twrpd="vee3"
- breakfast ${twrpd}
- make recoveryimage
deploy:
  provider: releases
#  api_key:
#    secure: WVO6azJdGkFF4Y3LFjYZdBOx/ENHkItAYAWiAIStNZQXOB7blU2dbbxZeDkAGrL6dgFW3SDNpGzBjHXyeuc5hoBb5Bu2lo90TmIa8riJzlfJROLrnyHzMz7HFjkUeqfPfNj2O/FSKNxwSvxpLA+Gw/D5OKoYAExKl51AK1TB4rd3VXaLO2VbK3P36fR/1hc3ldbZzGNZhfu+r/Elwfved+tNRoFg4tU51kz4lOsUgAe2gNEiUoLbudyfWkM+cwx+1bUW8ZkGb14usDona4BQ2o1ZiIzHfJX5rh+/oBZR/2FpCA1yr8nqR43e/CEbm8JNsiCtAuvT8rNmXJZMNK9Hgwo+s5dsoIUM86Uejpgyiw8EC6EJq9V9zmKP3HiKQmpc9gfceU61p3uk5suGx+G/ZktZ0PM5DhGrcL1blbiD8bKQthP46IzxKM7r1NrfqMbAcwXT3Y+4dJA8phZuH0fKvpOaypu/JyiUgeo96+sWGSioOD2b39TOCDy3rlzKUVZUDVJX83Q3bOkjGH/g4vaUAzq6NtH27916BTtazZEOID1WZkUm8gmlBmR1ES1+RF8RohlVlEJqg1NO6TOh5v7Htvfo4VP8jG+ewdiffmMUJKB3M/erGHNJimv/LmF9vj3Y2r/c84bKWSjhiOhwnCmlwKXAEiQVu4zy7GUFoI0W+P0=
  file: "out/target/product/${twrpd}/recovery.img"
  on:
    repo: TeamVee-Deprecated/twrp3-travis-ci-old
